@model PlsDoMeNow.Models.TodoList

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TodoList</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
			@Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.Category.ID, new SelectList(ViewBag.Categories as System.Collections.Generic.IEnumerable<PlsDoMeNow.Models.TodoListCategory>, "ID", "Name"), htmlAttributes: new { @class = "form-control", @id = "ddlCategory" })
				@Html.ValidationMessageFor(model => model.Category.ID, "", new { @class = "text-danger" })
			</div>
		</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
	<script>
		function getParameterByName(name, url)
		{
			if (!url) url = window.location.href;
			url = url.toLowerCase(); // This is just to avoid case sensitiveness  
			name = name.replace(/[\[\]]/g, "\\$&").toLowerCase();// This is just to avoid case sensitiveness for query parameter name
			var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
				results = regex.exec(url);
			if (!results) return null;
			if (!results[2]) return '';
			return decodeURIComponent(results[2].replace(/\+/g, " "));
		}

		$(document).ready(function ()
		{
			var catID = getParameterByName("CategoryID");
			console.log(catID);
			if (catID)
			{
				$("#ddlCategory").val(catID);
			}
		});
	</script>
}
